build/**
_build/**
_build_package/**
output/**
cmake-build-*
!.gitkeep
.idea/
CMakeCache.txt
.directory
.editorconfig
*.a
*.dylib
*.dll
*.obj
*.cpp.o
*.c.o
.vs
.vscode
*.junk
CMakeSettings.json
include/bigmath/bigmath_config.h
out
venv
tmp
dockerpack.lock
